@model IEnumerable<Hambakliinki.Models.teenuseid>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.teenuse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hind)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.teenuse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hind)
            </td>
        </tr>
}
    </tbody>
</table>
