html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.smile {
    float: left;
    position: relative;
    margin: 6%;
    width: 42%;
    text-align: left;
    box-sizing: border-box;
}

.broneeri {
    float: right;
    position: relative;
    margin: 3%;
    width: 35%;
    text-align: right;
}

.floating-button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 45px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 1px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 600;
    color: #524f4e;
    background: white;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
    margin-right: 35%
}

    .floating-button:hover {
        background: #00a4c6;
        box-shadow: 0 15px 20px rgba(34, 142, 185, 0.4);
        color: white;
        transform: translateY(-7px);
    }
