@model Hambakliinki.Models.klient

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>klient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nimi" class="control-label"></label>
                <input asp-for="nimi" class="form-control" />
                <span asp-validation-for="nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="perekonnanimi" class="control-label"></label>
                <input asp-for="perekonnanimi" class="form-control" />
                <span asp-validation-for="perekonnanimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="vanus" class="control-label"></label>
                <input asp-for="vanus" class="form-control" />
                <span asp-validation-for="vanus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
