@{
    ViewData["Title"] = "Teavet";

}
<h1>@ViewData["Title"]</h1>
<p>siit leiate infot meie kliiniku asukoha kohta.</p>
<p>Ahtri 6a, Tallinn (Admirali maja) B sissepääs II korrus</p>
<p>telefon: +372 689 88 88</p>
<p>Email: hambakliinik@hotmail.com</p>
<p>Avatud E-R 9.00-20.00. Kokkuleppel oleme avatud ka nädalavahetustel ja õhtustel aegadel.</p>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2028.627139452733!2d24.758993916076722!3d59.43929298169743!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4692935dfd7a5a8f%3A0xf61757b491881e5d!2sAdmirali%20Maja!5e0!3m2!1set!2see!4v1666680863100!5m2!1set!2see" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>