@model Hambakliinki.Models.klient

@{
    ViewData["Title"] = "Broneeri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-center">
    <h1 class="display-4">Aitäh et valisid meie hambakliinik</h1>
    <h3>Me kirjutasime sulle e-postile vadake palun!</h3>
    <a href="/Home/Index"  class="btn btn-primary">minna kodulehele</a>
</div>

