@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Tere tulemast!</h1>
    <h5>See on meie hambakliiniku veebisait</h5>
    <h5>Siin sa sad broneerida meie hambakliinikuse</h5>
    <br>
    <div class="smile">
        <h3>Miks valida Smile Hambaravi?</h3>
            <p style="float:left">
                Oleme kvaliteetne hambaravi ning meil on eraldi operatsiooniruum keeruliste protseduuride jaoks. Kohapeal on ka röntgendiagnostika võimalus.
                Ühe-etapilise ravimeetodiga on meil üle saja õnneliku patsiendi. Arst täiendab end pidevalt, et olla tipptasemel.
                Happy Smile Hambaravi on üks esimestest hambaravidest Eestis, kes tegeleb terve lõualuu rehabilitatsiooniga kohese koormamisega ehk peale implantaatide paigaldust järgmisel päeval fikseeritakse hambaprotees. 
                Tavapäraselt paigaldab arst implantaadid ja kinnitab proteesi alles kuus kuud hiljem. Sellisel juhul ei ole tegemist kohese koormamisega.
            </p>
    </div>
    <br>
    <div class="broneeri">
        <h2>Broneeri aeg konsultatsioonile!</h2>
        <a href="/klients/Create" class="floating-button">Button</a>
         
    </div>

    <!---->
</div>
