
@{
    ViewData["Title"] = "Broneeri";

}
<h1>@ViewData["Title"]</h1>
<p>Täname, et valisite meie hambakliiniku</p>
<p>Saadame Su telefonile sõnumi, millal tulla, kui soovid kellaaega ja kuupäeva muuta, siis helista sellel numbril +372 689 88 88</p>
<img src="~/img/smile.png" />